<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">You're almost done! Now create a password to access your account.</h2>
	</div>

	<div class="panel-body">
		<%= form_for(resource, as: resource_name, url: confirmation_path) do |f| %>
			<%= devise_error_messages! %>

			<div class="form-group">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="form-group">
				<%= f.hidden_field :confirmation_token, :value => @original_token %>
			</div>

			<div class="form-group">
				<%= f.submit "Confirm Account", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>

	<div class="panel-footer">
		<%= render "confirmable/shared/links" %>
	</div>
</div>