<h1><%= @post.title %></h1>

<% date = @post.published_at %>
<p>by <%= @post.user.username %> | Published on <%= "#{date.to_date} at #{date.hour}:#{date.min}" %> | Type: <%= @post.type %></p>

<em class="subtitle"><%= @post.summary %></em>

<%= @post.content %>

<p>
  <strong>Filed under:</strong>
  <% tags = []
  @post.tags.each do |tag|
    tags << (link_to tag.name, tag)
  end
  %>
  <%= tags.join(', ').html_safe %>
</p>

<% if @post.user == current_user %>
  <%= link_to 'Edit', sti_post_path(@type, @post, :edit) %> |
<% end %>
<%= link_to 'Back', sti_post_path(@type)  %>
